h1 { background : grey;
}

.par-1 {
font-size: 14pt;
color: green;
}

.par-2
{
border: 10px solid grey;
border-radius: 10% 10%;
margin-bottom: 60px;
padding-bottom: 30px;
padding-left: 10px;
}

.par-3
{
border: dotted;
font-family: Arial;
font-weight: 900;
}

.par-4
{
font-style: oblique;
text-align: center;
font-size: 24px;
}